* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #323437;
}

li,a {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:#d1d0c5;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
    height: 40px;
    width: 200px;
    margin-right: auto;
    margin-bottom: 1em;
}

.nav_links {
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0 20px;
}

.nav_links li a, footer a:hover{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover, footer a:hover{
    color: #e2b714
}

footer {
    text-align: center;
    line-height: 4em;
	margin-top: 1em;
}

h1 {
	font: 2em sans-serif;
    margin: 0 auto;
	margin-bottom: 1.5em;
    margin-top: 1.5em;
    color:  #e2b714;
    text-align: center;
    width: 60%;
}

p, data, .datalist{
    color: #646669;
    font: 1.2em sans-serif;
    text-align: center;
    margin: 0 auto;
    line-height: 1.8;
    margin-bottom: 1em;
    width: 60%;
}

ul {
    list-style-type: none;
}

/*source: https://www.youtube.com/watch?v=Trw_9lisYVY&t=281s */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 65%;
}

.container .gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container .gallery .column {
    display: flex;
    flex-direction: column;
    width: 32.5%;
}

.container .gallery .column img{
    width: 100%;
    padding-bottom: 15px;
    border-radius: 5px;
}

.layoutPic, .switch {
    display: block;
    margin: auto;
    padding: 1.5em;
    width: 25%;
    height: 0 auto;
    border-radius: 5px;
}

iframe {
    display: block;
    margin: 0 auto;
}

